$pointer-color: black;
$pointer-body-height: 30vw;
$pointer-head-width: 1vw;
$pointer-head-height: $pointer-head-width / 2;
$pointer-tail-width: 5vw;
$pointer-tail-height: $pointer-tail-width / 2;
$pointer-body-offset: $pointer-head-width / 2;
$pointer-height: $pointer-body-height + $pointer-head-height + $pointer-tail-height;
$pointer-center: $pointer-height * 0.7;
$pin-width: 0.2vw;

$backing-height: 50vw;

.pointer{
    position: absolute;
    width: $pointer-tail-width;
    height: $pointer-height;
    transform-origin: 50% $pointer-center;
    transform: rotate(0deg);
    left: 0;
    right: 0;
    top: $backing-height / 2 - $pointer-center;
    margin-left: auto;
    margin-right: auto;
    transition: 4s cubic-bezier(.17,.67,.09,.96);
    .body {
        position: absolute;
        top: $pointer-body-offset - 0.1vw;
        border-bottom: $pointer-body-height solid $pointer-color;
        border-left: ($pointer-tail-width - $pointer-head-width) / 2 solid transparent;
        border-right: ($pointer-tail-width - $pointer-head-width) / 2 solid transparent;
        height: 0;
        width: $pointer-head-width;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .tail{
        position: absolute;
        top: $pointer-body-height + $pointer-body-offset - 0.2vw;
        width: $pointer-tail-width - 0.1vw;
        height: $pointer-tail-height;
        background: $pointer-color;
        border-radius: 0 0 $pointer-tail-height $pointer-tail-height;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .head{
        position: absolute;
        left: ($pointer-tail-width - $pointer-head-width) / 2;
        width: $pointer-head-width;
        height: $pointer-head-height;
        background: $pointer-color;
        border-radius: $pointer-head-height $pointer-head-height 0 0;
    }
    .pin{
        position: absolute;
        top: $pointer-center - $pin-width / 2;
        left: $pointer-tail-width / 2 - $pin-width / 2;
        background: #CECECE;
        height: $pin-width;
        width: $pin-width;
        border-radius: $pin-width / 2;
    }
}

$border-color: gray;

.backing{
    height: $backing-height;
    width: $backing-height;
    box-shadow: 0px 2px 8px gray;
    position: relative;

    .section{
       width: 50%;
       height: $backing-height / 2;
       display: flex;
       align-items: center;
       justify-content: center;
       box-sizing: border-box;
       .color-circle{
            width: 65%;
            height: 65%;
            border-radius: 50%;
       }
    }

    .section.top-left{
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .color-circle{
            background-color: blue;
        }
    }
    .section.top-right{
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .color-circle{
            background-color: red;
        }
    }
    .section.bot-left{
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        .color-circle{
            background-color: #F1F700;
        }
    }
    .section.bot-right{
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        .color-circle{
            background-color: green;
        }
    }
}